/* 
    Created on : Feb 28, 2022, 8:33:05 PM
    Author     : Admin
*/

body {
    background-color: #e8e8e8 !important;
}

.container-form {
  width: 80%;
  margin: 50px auto 50px auto;
  background-color: white;
  border-radius: 15px;
  padding: 60px;
}

.form-general {
    margin: 10px auto;
}

.error {
    color: red;
    text-align: center;
}

.success {
    color: green;
    text-align: center;
}

.container-login {
  width: 60%;
  margin: 50px auto 50px auto;
  background-color: white;
  border-radius: 15px;
  padding: 60px;
}

.success {
    color: green;
}

.btn-register {
    margin: 10px auto;
}

.btn-campus {
    margin: 10px auto;
}

.btn-login {
    margin: 10px auto;
}

.check-btn {
    color: #fff;
    margin-left: 10px;
}

.btn-academic {
    width: 80px;
}

.btn-academic:last-child {
    margin-left: 10px;
}