<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CampusController</servlet-name>
        <servlet-class>Controller.student.CampusController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>Controller.student.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccademicLoginController</servlet-name>
        <servlet-class>Controller.Academic.AccademicLoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowListRegisterController</servlet-name>
        <servlet-class>Controller.Academic.ShowListRegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowRegisterController</servlet-name>
        <servlet-class>Controller.Academic.ShowRegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InformationRegisterController</servlet-name>
        <servlet-class>Controller.Academic.InformationRegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RejectRegisterController</servlet-name>
        <servlet-class>Controller.Academic.RejectRegisterController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CampusController</servlet-name>
        <url-pattern>/campus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccademicLoginController</servlet-name>
        <url-pattern>/academic/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowListRegisterController</servlet-name>
        <url-pattern>/academic/ShowListRegisterController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowRegisterController</servlet-name>
        <url-pattern>/academic/ShowRegisterController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InformationRegisterController</servlet-name>
        <url-pattern>/academic/inforregister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RejectRegisterController</servlet-name>
        <url-pattern>/academic/RejectRegisterController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
